.logic-circle-big {
    width: var(--circle-big);
    height: var(--circle-big);
    border-radius: 50%;
    position: relative;
}

.logic-circle-big-not-filled {
    width: var(--circle-big);
    height: var(--circle-big);
    border-radius: 50%;
    border: 1px solid var(--dark-custom);
}

.question-mark-filler {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--dark-custom);
    font-size: 2rem;
    color: white;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    position: absolute; 
    top: 0;
    left: 0;
}

.played {
    background-color: var(--disabled);
}

.playing {
    background-color: var(--white);
}

.not-played {
    background-color: var(--disabled);
}

.pointer {
    cursor: pointer;
}

.border-first-left {
    border-top: 1px solid var(--dark-custom);
    border-left: 1px solid var(--dark-custom);
    border-top-left-radius: 5px;
}
.border-first-right {
    border-top: 1px solid var(--dark-custom);
    border-right: 1px solid var(--dark-custom);
    border-top-right-radius: 5px;
}

.border-between-left {
    border-left: 1px solid var(--dark-custom);   
}

.border-between-right {
    border-right: 1px solid var(--dark-custom);
}

.border-last-left {
    border-left: 1px solid var(--dark-custom);
    border-bottom: 1px solid var(--dark-custom);
    border-bottom-left-radius: 5px;
}

.border-last-right {
    border-right: 1px solid var(--dark-custom);
    border-bottom: 1px solid var(--dark-custom);
    border-bottom-right-radius: 5px;
}

.playboard-divider {
    position: absolute;
    top: 10%;
    right: 3%;
    z-index: 2;
    width: 1px;
    height: 80%;
    border-right: 1px solid var(--dark-custom);
}

.relative-position {
    position: relative;
}

.logic-circle-small {
    width: var(--circle-small);
    height: var(--circle-small);
    border-radius: 50%;
}

.red {
    background-color: var(--red);
}

.yellow {
    background-color: var(--yellow);
}

.orange {
    background-color: var(--orange);
}

.green {
    background-color: var(--green);
}

.purple {
    background-color: var(--purple);
}

.blue {
    background-color: var(--blue);
}