@import url('variables.css');
@import url('header.css');
@import url('logic.css');


.section-child {
    max-width: 2000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}