:root {
    --dark-custom: #24282b; 
    --white: #FFFFFF;
    --red: #a31515;
    --yellow: #eef128;
    --orange: #e49e08;
    --blue: #001aff;
    --purple: #370042;
    --green: #0eaa54;

    --circle-big: 60px;
    --circle-small: 25px;

    --circle-big-1400-1700: 45px;

    --circle-big-till-600: 30px;
    --circle-small-till-600: 20px;

    --disabled: #a7a7a7; 
}